<nav>
  <div class="navbar-left">
    <a href="/">
      <img class="icon" src="/Asset/image/DU.png" alt="Gambar Logo" />
    </a>
    <ul class="navbar-left1">
      <li>
        <a href="/" class="navbar-active">Home</a>
      </li>
      <li>
        <a href="/myproject" class="navbar-home">My Project</a>
      </li>
      <li>
        <a href="/testimonial" class="navbar-home">Testimonial</a>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <a href="/contact" class="navbar-right1"> Contact Me</a>
  </div>
</nav>
