.contact-section {
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    background-color: #e2e6ea;
    align-items: center;
    font-family: 'Poppins', sans-serif, ;
    padding: 40px;

}

.contact-form {
    width: 500px;
    border: 1px solid none;
    border-radius: 10px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contact-form label {
    font-weight: 500;
}

.set {
    background-color: rgb(230, 230, 230);
}

.form-field {
    display: flex;
    flex-direction: column;
    height: 40px;

}

.form-field-image {
    display: flex;
    flex-direction: column;

}

.input-image {
    width: auto;
    border-radius: 5px;
    border: 1px solid #cacaca;

    background-color: white;
    box-shadow: 0 0 20px #a8a8a8;
    display: flex;
}

.choose {
    color: rgb(192, 192, 192);
    background-color: rgb(218, 218, 218);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 5px;
}

.upload-image {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cacaca;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 20px #a8a8a8;
    display: flex;
}

.form-field-area {
    display: flex;
    flex-direction: column;

}



.form-title {
    width: 100%;
    text-align: center;
}


.form-input {
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 7px;
    box-shadow: 0 0 20px #a8a8a8;
}

.form-date {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 5px;



}

.form-field-date {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.form-field-box {
    display: flex;
}

.form-input-date {
    flex: 1;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 7px;
    box-shadow: 0 0 20px #a8a8a8;
}

.form-input-area {
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 7px;
    box-shadow: 0 0 20px #a8a8a8;

    resize: none;
}


.form-button {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

.form-submit-button {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif, ;
}

.form-input-box {
    display: flex;
    gap: 80px;
}

.line {
    width: 80%;
}

/* BLOG LIST */
.blog-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.project-title p {
    font-size: 33px;
    align-content: center;
    font-weight: bold;
}


.blog-list {
    width: 100;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 0px 30px;

}

.blog-list-item {
    display: flex;
    gap: 20px;
    flex-direction: column;
    border: 1px solid #c4c4c4;
    padding: 20px;
    width: 300px;
    background-color: white;
    border-radius: 7px;
    margin: 15px 15px;
}

.blog-image-title {
    display: flex;
    flex-direction: column;

}

.blog-image {
    flex: 1;

}

.blog-image img {
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

.blog-icon {
    height: 25px;
    margin-right: 15px;


}

.blog-content {
    flex: 2;
}

.btn-group {
    text-align: right;
    display: flex;
    gap: 5px;
}

.btn-edit {
    width: 100%;
    padding: 8px 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.btn-post {
    width: 100%;
    padding: 8px 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.blog-item-title {

    text-decoration: none;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
}


.blog-list-item p {
    margin: 0px
}

.detail-blog-content {
    margin: 0;
    font-size: 12px;
    text-align: left;
}

.blog-detail {
    font-size: 14px;
}

.blog-text {
    margin: 0;
    text-align: justify;
    font-size: 11px;
}

.relative-time {

    font-size: 12px;
    color: #a2a2a2;
    text-align: right;
}



/* Blog Page */

.blog-main {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.blog-title {
    /* text-align: cente; */
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}



.blog-icon-page {
    width: auto;
    height: 50lvh;
    margin: 20px 0px;
}

.blog-content-page {

    text-align: justify;
}


/* Responsive layar */

@media (max-width: 800px) {
    .blog-list {
        display: flex;
        flex-direction: column;
    }

    /* .blog-list-item {
        margin: 15px 15px;
    }  */
    .contact-form {
        width: 100%;
    }




}