<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Batch 59</title>
  <link rel="icon" href="/Asset/image/icon.png" />
  <link rel="stylesheet" href="/Asset/css/style.css" />
  <link rel="stylesheet" href="/Asset/css/style-index.css" />
  <link rel="stylesheet" href="/Asset/css/global-font.css" />
</head>

<body>
  {{> navbar}}

  <div class="blog-main">
    <p class="blog-title">
      Pasar Coding di Indonesia Dinilai Masih Menjanjikan!
    </p>
    <p id="author_date" class="author_date">
      <script src="belajar.js"></script>
    </p>
    <img class="blog-icon-page" src="/Asset/image/blog-img.png" alt="Logo Play Store" />
    <p class="blog-content-page">
      REPUBLIKA.CO.ID. JAKARTA - Ketimpangan sumber daya manusia (SDM) di
      sektor digital masih menjadi isu yang belum terpecahkan. Berdasarkan
      penelitian ManpowerGroup, ketimpangan SDM Global, termasuk Indonesia,
      meningkat dua kali lipat dalam satu dekade terakhir. Khusus di sektor
      teknologi yang berkembang pesat, menurut Kemendikbudristek. Indonesia
      kekurangan sembilan juta pekerja teknologi hingga tahun 2030. Hal itu
      berarti Indonesia memerlukan sekitar 600 ribu SDM digital yang memasuki
      pasar setiap tahunnya.
    </p>
  </div>
</body>

</html>